<% if not @empty %>
  <div id="stations_table_output">
    <h1>Estaciones</h1>

    <table class="table table-responsive table-bordered table-striped text-center">
      <thead>
      <tr>
        <th>Distribuidor</th>
        <th>Direccion</th>
        <th>Precio 93</th>
        <th>Precio 95</th>
        <th>Precio 97</th>
        <th>Diesel</th>
        <th>Gas Licuado Vehicular</th>
      </tr>
      </thead>

      <tbody>
      <% @stations.each do |station| %>
          <tr>
            <td><%= image_tag station.distributor.logo, width:  '64px' %></td>
            <td><%= station.address_street+ ' ' + station.address_number %></td>
            <td><%= to_currency(station.current_price.gas_93)%></td>
            <td><%= to_currency(station.current_price.gas_95) %></td>
            <td><%= to_currency(station.current_price.gas_97) %></td>
            <td><%= to_currency(station.current_price.diesel)%></td>
            <td><%= to_currency(station.current_price.glp) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
<% else %>
  <h3>No existen estaciones de combustible en esta comuna</h3>
<% end %>