<h1>Bienvenido a NearGas</h1>

  <%= simple_form_for :locations, url: '/stations.js', remote: true do |f| %>
    <div class="row vertical-align">
      <div class="form-inputs col-md-7 col-xs-7 ">
        <%= f.input :code, as: :string, label: 'Ubicacion' %>

          <div class ="checkboxThree">
            <input type="checkbox" value="0" id="checkboxThreeInput" name="locations[geo]"/>
            <label for="checkboxThreeInput" id="geo_slider">Geolocalizacion</label>
          </div>
        <%= f.input :latlong, as: :hidden, input_html: { id: 'latlong' } %>
      </div>
      <div class="form-actions col-md-4 col-xs-4 ">
        <div style="margin-right: 10px; display: none;" id="nearest_div">
          <%= f.button :button, type: :submit, id: 'nearest_button', value: 'nearest' do %>
              Mas cercano
          <% end %>
        </div>

        <div>
          <%= f.button :button, type: :submit, id: 'zone_button', value: 'zone' do %>
              Estaciones de la Zona
          <% end %>
        </div>

      </div>
    </div>
  <% end %>

  <div id="map" style='width: 100%;'></div>

<div id="stations_table_output"></div>